/* DEFAULT */

* {
    /* outline: 1px solid red; */
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(#904e95, #e96443);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    padding: 10px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.menu-item {
    position: relative;
    display: inline-block;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.menu-item > a,
.submenu-item > a {
    display: inline-block;
    text-decoration: none;
    color: #424242;
    padding: 15px 40px;
}

.menu-item:hover .menu-item-link {
    background-color: #dc143c;
}

.menu-item > a:hover,
.submenu-item > a:hover {
    color: #ffffff;
    text-decoration: underline;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
}

/* делаем табуляцию для фокусировки с основного меню в подменю*/
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    display: block;
}

/* делаем невидимым .submenu  */
.submenu {
    display: none;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
}

/* делаем .submenu видимым  */
.menu-item:hover > .submenu {
    display: block;
}

.submenu-item {
    white-space: nowrap;
}