/* DEFAULT */

* {
    /* outline: 1px solid red; */
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background-image: linear-gradient(#904e95, #e96443);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


.menu {
    padding: 10px;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item > a,
.submenu-item > a {
    display: inline-block;
    text-decoration: none;
    color: #424242;
    padding: 15px 30px;
    background-color: #fff;
}

